.result {
	width: 100%;
	display: flexbox;
	font-family: "atmospheric";
}

.result.Date {
	padding-top: 3vh;
	padding-bottom: 3vh;
	vertical-align: center;
	text-align: center;

	font-size: 3vh;
}

.result.GTable {
	border-width: 30px;

	z-index: 0;

	position: relative;
}
