.result {
	display: flexbox;
	font-family: "atmospheric";
}

.result.Date {
	height: 10vh;
	text-align: center;
	vertical-align: center;

	font-size: 3vh;
}

.result.GTable {
	border-width: 30px;
	max-width: 100vw;
	max-height: 80vh;

	position: relative;
}
