.nav {
  position: fixed;
  top: 0;
  padding: 0px;
  height: 8%;
  width: 100%;
  z-index: 3;

  display: flex;
  justify-content: space-between;

  transition-timing-function: ease-in;
  transition: all 0.5s;
  background-color: transparent;

  .icon-button {
    color: grey;
    &.show {
      color: black;
    }
  }

  .logo {
    width: 100px;
    object-fit: contain;
  }
}
