.nav {
  position: sticky;
  top: 0;
  padding: 0px;
  height: 8%;
  width: 100%;
  z-index: 3;

  display: flex;
  justify-content: space-between;

  transition-timing-function: ease-in;
  transition: all 0.5s;

  &.show {
    background-color: black;
  }

  .icon-button {
    color: grey;
    &.show {
      color: white;
    }
  }

  .logo {
    height: 100%;
  }
}
