.Analysis {
  width: 100%;
  font-family: "atmospheric";

  .nav {
  }
  .body {
    justify-content: center;
    align-items: center;
    display: flex;
    .Date {
      vertical-align: center;
      text-align: center;

      font-size: 3vh;
    }

    .GTable {
      width: 80%;
      height: 90%;

      border-width: 30px;

      z-index: 0;

      position: relative;
    }
  }
}
