@import "../../global.scss";

.Analysis {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  .nav {
    height: 8%;
  }
  .body {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .Date {
      color: #fff;
    }
    .GTable {
      width: 600px;
      height: 100%;
      overflow: auto;

      box-shadow: 0px 0px 15px -8px black;
      border-radius: 30px;

      z-index: 0;

      position: relative;
    }
  }
}

@include mobile {
  .Analysis {
    height: 100%;
    .body {
      .Date {
        font-size: 20px;
      }
      .GTable {
        width: 100vw;
      }
    }
  }
}
